body{
	color: #111111;
	font-family: 'Courier';
	align-items: center;
}
button	{
	font-size: 32px;
	font-family: inherit;
	font-weight: 10000;
	text-transform: uppercase;
	text-align: center;
	align-items: center;

	color: white;

	width: 60px;
	height: 60px;

	border: none;
	border-radius: 10px;
	box-shadow: 0 6px #006666;

	background-color: #00FFFF;
	/* transition-duration: 0.4s; */

	z-index: 10;
}
button:hover	{
	background-color: #00AAAA;
}
button:active	{
	background-color: #00AAAA;
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

/*	an element which help blocking all the access to the underlay canvas (game-canvas and draw-canvas)	*/
.overlay	{
    opacity: 0.8;
    background-color: #FFF;
    position: fixed;
    width:  100%;
    height: 100%;
	margin: auto;

    z-index: 99;
}

/*	the next 3 items are about the game canvas	*/
.game-canvas-container	{
	width: 75%;
	height: 95%;

	position: fixed;

	left: 0;
	bottom: 0;

	margin-bottom: 1%;
	margin-left: 1%;
}
#game-canvas {
	position: absolute;
	bottom: 0;
	margin: 0;

	width: 100%;
	height: 100%;

	border: solid black 2px;
	border-radius: 5px;
}
#pause {
	position: absolute;
	right: 0;
	margin-right: 1%;
	margin-top: 1%;
}

/**/
#draw-canvas	{
	background-color: #FFFFFF;

	width: 22%;

	border: 2px solid black;
	border-radius: 5px;

	cursor: pointer;

	position: fixed;

	bottom: 0;
	right: 0;

	margin-bottom: 1%;
	margin-right: 1%;
}
#small-canvas{
	display: none;
}
#draw-canvas:after	{
	padding-bottom: 100%;
}

#score {
	position: fixed;
	z-index: 0;

	right: 6%;
	top: 30%;

	background-color: grey;

	width: 10%;
	height: 10%;
	
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 4em;
	color: white;

	border: 2px solid black;
	border-radius: 5px
}

.dashboard	{
	background-color: rgb(200, 200, 0);
	box-shadow: 0 6px rgb(100, 100, 0);
	position: absolute;
	z-index: 100;

	width: fit-content;
	height: fit-content;

    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;

	display: flex;
    justify-content: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-button {
	position: fixed; width: 10%; height: 2%;
    background-color: lightgray; border: 2px solid black; border-radius: 5px; text-align: center;
    text-decoration: none; color: black;
}

.index-button:hover {
	background-color: rgb(239, 239, 239)
}

.leaderboard	{
	width: 200px;
	height: fit-content;

	background-color: rgb(100, 100, 0);
	color: white;

	display: inline-block;
	font-family: 'Courier New', Courier, monospace;

	padding: 10px;
	white-space: pre;
}

/* The next part is for the dropdown menu */
.dropdown	{
	width: 220px;
	height: fit-content;

	display: block;	
}
.drop-button	{
	margin-left: 10px;

	background-color: rgb(250, 128, 114);
	color: white;

	font-size: 32px;
	font-weight: 1000;

	width: 200px;

	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	border: none;
	border-radius: 10px;

	display: block;
}
.drop-button:hover	{
	background-color: rgb(200, 78, 64);
	width: 220px;
	margin-left: 0;
	padding-top: 25px;
	padding-bottom: 25px;
}
.dropdown-content {
	display: none;
	background-color: rgba(255, 255, 255, 0.2);

	width: 100%;
	height: fit-content;

	border: none;
	border-radius: 10px;

	padding: 10px;

	margin-left: 0;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.mode-button	{
	width: 160px;
	height: 60px;
	display: block;

	margin-left: 30px;
	margin-right: 30px;

	margin-top: 10px;
	margin-bottom: 10px;

	color: black;
}

.mode-button:hover {
	cursor: pointer;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}